.footer-class {
  background-color: #2c343e;
  display: flex;
  padding: 4.7rem 8.5rem;
  justify-content: space-around;
}
.footer {
  padding-bottom: 88px;
}

.icon {
  display: flex;
  gap: 24px;
}
